<!DOCTYPE html>
<html>
	<head>
		<title>Eric Gonzalez Portfolio Website</title>
		<meta charset="utf-8"/>

		<link rel="shortcut icon" href="#">
		<link href="/css/styles.css" rel="stylesheet" type="text/css"/>
		<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>

	<body>
		<header>
			<h1>Eric Gonzalez</h1>
		</header>
		<hr/>

		<nav>
			<a class="nav" id="home" href="/">Home</a>
			<a class="nav" id="about" href="/about">About</a>
			<a class="nav" id="contact" href="/contact">Contact</a>
		</nav>

		<br>
