body{
	color:gray;
}

h1{
	font-family: 'Cinzel Decorative', cursive;
	text-align:center;
}

nav{
	text-align: center;
	font-family: 'Cinzel Decorative', cursive;
	font-size: 1.2em;
}

nav a{
	padding: 50px;
	color: red;
	font-weight: bold;
	transition: 0.9s;
}

nav a:hover{
	border-bottom: 2px;
	font-size: 2em;
	transition: 0.9s;
	color: orange;
}

nav #current{
	color: goldenrod;
}

main{
	display: flex;
	justify-content:center;
	font-size: 1.2em;
}
